<div class="sidebar">
    <h2>Wind tunnel digital twin project</h2>
  
    <a href="/index.html" class="{% if request.path in ['/', '/index.html'] %}active{% endif %}">
      <i class="main"></i> Main
    </a>
  
    <a href="/Data_Analysis" class="{% if request.path == '/Data_Analysis' %}active{% endif %}">
      <i class="page1"></i> Data Analysis
    </a>
  
    <a href="/Prediction" class="{% if request.path == '/Prediction' %}active{% endif %}">
      <i class="page2"></i> Prediction
    </a>
  
    <a href="/page3" class="{% if request.path == '/page3' %}active{% endif %}">
      <i class="page3"></i> page3
    </a>
  
    <a href="/page4" class="{% if request.path == '/page4' %}active{% endif %}">
      <i class="page4"></i> page4
    </a>
  
    <a href="/page5" class="{% if request.path == '/page5' %}active{% endif %}">
      <i class="page5"></i> page5
    </a>
  </div>
  